<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>shuqi</title>
	<style>
		* {
			margin: 0;
			padding: 0;
			color: black;
			text-decoration: none;
		}
	</style>
</head>

<body>
	<div id="box">
		<div style="min-height: 50px;text-align: center;line-height: 50px;background:#ccc;">
			{{$route.params.type}}
		</div>
		<keep-alive>
			<router-view></router-view>
		</keep-alive>
	</div>
	<!-- 分类 -->
	<template id="no1">
		<div>
			<div v-for="(i,$key,$index) in data">
				<h4 style="background: #ddd;min-height:50px;line-height: 50px;padding-left:10px;">
					{{$key=='girl'?'女生分类':'男生分类'}}</h4>
				<div>
					<div v-for="(a,$index) in i"
						style="margin-left: 20px;padding:10px 0;border-bottom: 1px solid #ccc;">
						<!-- <img src="../1.jpg" v-for="(b,$key,$index) in a" /> -->
						<div v-for="(b,$key,$index) in a" class="dis">
							<a :href="'#/no2/'+$key+'/'+b.cid+'/'+b.relatedName">
								<div>{{$key}}</div>
								<div>
									<span v-for="(c,$index) in b.list">{{c}} {{b.list.length-1==$index?'':'|'}} </span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</template>
	<!-- 现言 -->
	<template id="no2">
		<div>
			<div style="padding: 20px;">
				<div style="overflow: hidden;padding-bottom: 20px;">
					<div style="padding: 10px 10px;float: left;">全部</div>
					<div v-for='i in data.class' style="float: left;padding: 10px;">{{i.name}}</div>
					<div v-for='i in data.tag' style="float: left;padding: 10px;">{{i.name}}</div>
				</div>
				<div v-for="i in arr" style="overflow: hidden;margin-bottom: 20px;">
					<div style="width: 85px;min-height: 120px;float: left;">
						<img style="width: 100%; height: 100%;" :src="i.cover" alt="">
					</div>
					<div style="margin-left: 100px;">
						<p style="margin-bottom: 6px;color: #000;">{{i.title}}</p>
						<p style="font-size: 12px;color: #999;margin-bottom: 6px;">{{i.author}}</p>
						<span
							style="color: #999;font-size: 12px;line-height: 22px;margin-bottom: 8px;">{{i.desc}}</span>
						<p>{{i.tags}}</p>
					</div>
				</div>
			</div>
		</div>
	</template>
</body>
<script src="vue.js"></script>
<script src="vue-router.js"></script>
<script src="vue-resource.js"></script>
<script>
	var router = new VueRouter({
		routes: [{
			path: '/',
			redirect: '/no1/分类'
		},
		{
			path: '/no1/:type',
			component: {
				template: '#no1',
				data() {
					return {
						data: ''
					}
				},
				created() {
					this.$http.post('http://walden1.shuqireader.com/webapi/rank/classrelation?_=1567407404330', {
						type: 1,
						timestamp: 1567407404328,
						sign: '2cac304d76749f9863d0d7e0075e3944',
						shuqi_h5: ''
					}, {
							emulateJSON: true
						}).then((data) => {
							this.data = data.data.data
							console.log(this.data)
						})
				}
			}
		},
		{
			path: '/no2/:type/:uid/:name',
			component: {
				template: '#no2',
				data() {
					return {
						data: '',
						arr: ''
					}
				},
				created() {
					var uid = this.$route.params.uid;
					var name = this.$route.params.name;
					this.$http.post('http://walden1.shuqireader.com/webapi/rank/classrelation?_=1571220235971', {
						type: 2,
						cid: uid,
						timestamp: 1571220235968,
						sign: '4e97b9d8142361752e1e4fb5c0b48134',
						shuqi_h5: '',
					}, {
							emulateJSON: true
						}).then(data => {
							this.data = data.data.data;
							console.log(this.data)
						})
					this.$http.get(
						'http://read.xiaoshuo1-sm.com/novel/i.php?do=is_caterank&p=1&page=1&words=&shuqi_h5=&onlyCpBooks=1&secondCate=%E7%8E%B0%E4%BB%A3%E8%A8%80%E6%83%85&sort=monthHot&_=1571222214835', {
							params: {
								do: 'is_caterank',
								p: 1,
								page: 1,
								words: '',
								shuqi_h5: '',
								onlyCpBooks: 1,
								secondCate: name,
								sort: 'monthHot',
								_: 1571222214835,
							}
						}).then(data => {
							this.arr = data.data.data
							console.log(this.arr)
						})
				}
			}
		}
		]
	});
	new Vue({
		el: '#box',
		router,
		mounted() {
			console.log(this.$route)
		},
		methods: {
			btn(a) {
				router.go(a)
			}
		},
		watch: {
			'$route.params.type'(a, b) {
				console.log(a, b)
			}
		}
	})
</script>

</html>